.App {
  text-align: center;
}

.App-title{
  padding: 2vmin;
  margin-top: 1vmin;
}

.App-logo {
  /*animation: Home-logo-spin infinite 20s linear;*/
  height: 10vmin;
}

.App-header {
  background-color: #00796b;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
